@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color0: #FFFFFF;
    --color1: #4169F5;
    --color2: #10182A;
    --color3: #3ED77B;
    --color4: #68C9FF;
    --color5: #FFDE47;
    --color6: #A35BFF;
    --color7: #FF6231;
    --color8: #286CA8;
    --color9: #FFB800;
    --color10: #EBEFF3;
    --color11: #FF5C62;
    --color12: #8593A3;
    --color13: #FB6DD3;
  }

  html {
    @apply bg-SecondaryBlue text-MainWhite font-Inter leading-none;
  }
  ::-webkit-scrollbar {
    @apply w-1 h-2 rounded-full;
  }

  /* Cor de fundo da barra de rolagem */
  ::-webkit-scrollbar-track {
    @apply bg-MainWhite outline outline-1 outline-SecondaryBlue;
  }

  /* Cor do thumb (a alça da barra de rolagem) */
  ::-webkit-scrollbar-thumb {
    @apply bg-MainBlue;
  }

  /* Cor do thumb quando passar o mouse por cima */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-MainBlue bg-opacity-70;
  }

  ::selection {
    @apply bg-MainWhite text-SecondaryBlue;
  }
}
